<!--=============== FLATICON ===============-->
<link
rel="stylesheet"
href="https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css"
/>

<section class="cart section--lg container">
  <div *ngIf="(basketService.basketSource$ | async) === null">
    <p>There are no items in your basket</p>
  </div>
  <ng-container *ngIf="(basketService.basketSource$ | async) as basket">
    <div class="table__container">
      <table class="table">
        <tr>
          <th>Image</th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Remove</th>
        </tr>

        <tr *ngFor="let item of basket.items">
          <td>
            <img
              src="{{item.pictureUrl}}"
              alt="{{item.productName}}"
              class="table__img"
            />
          </td>

          <td>
            <h3 class="table__title">
              <a class="cart__item__name" routerLink="/shop/{{item.id}}">{{item.productName}}</a>
            </h3>
          </td>

          <td><span class="table__price">{{item.price | currency}}</span></td>

          <td>
            <i class="fa fa-minus-circle add-button"
                    style="cursor: pointer;"
                    (click)="removeItem(item.id, 1)"></i>
            <span>{{item.quantity}}</span>
            <i class="fa fa-plus-circle subtract-button"
            style="cursor: pointer;"
            (click)="incrementQuantity(item)"></i>
          </td>

          <td><span class="table__subtotal">{{item.price * item.quantity | currency}}</span></td>

          <td><i class="fi fi-rs-trash table__trash"
            style="cursor: pointer;"
            (click)="removeItem(item.id, item.quantity)"></i></td>
        </tr>
      </table>
    </div>
  </ng-container>
  <div>
    <div class="cart__group">
      <div>
        <div></div>
        <app-order-totals></app-order-totals>
      </div>
      <a routerLink="/checkout" class="btn-custom flex btn--md justify-content-center">
        <i class="fi fi-rs-box-alt"></i>Proceed To Checkout
      </a>
    </div>
  </div>
</section>
