.table__container {
  overflow-x: auto;
}

.table {
  table-layout: fixed;
  margin-bottom: 2rem;
}

.table tr {
  border-top: 1px solid var(--border-color-alt);
}

.table tr:last-child {
  border-bottom: 1px solid var(--border-color-alt);
}

.table tr th:nth-child(1),
.table tr td:nth-child(1) {
  width: 216px;
}

.table tr th:nth-child(2),
.table tr td:nth-child(2) {
  width: 400px;
}

.table tr th:nth-child(3),
.table tr td:nth-child(3) {
  width: 108px;
}

.table tr th:nth-child(4),
.table tr td:nth-child(4) {
  width: 220px;
}

.table tr th:nth-child(5),
.table tr td:nth-child(5) {
  width: 200px;
}

.table tr th:nth-child(6),
.table tr td:nth-child(6) {
  width: 152px;
}

.table__img {
  width: 80px;
}

.table tr th,
.table tr td {
  padding: 0.5rem;
  text-align: center;
}

.table__title,
.table__description,
.table__price,
.table__subtotal,
.table__trash,
.table__stock {
  font-size: var(--small-font-size);
}

.table__title,
.table__stock {
  color: var(--first-color);
}

.table__description {
  max-width: 250px;
  margin-inline: auto;
}

.table__trash {
  color: var(--text-color-light);
}

.cart__actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.divider {
  position: relative;
  text-align: center;
  margin-block: 3rem;
}

.divider::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 2px solid var(--border-color-alt);
}

.divider i {
  color: var(--text-color-light);
  background-color: var(--body-color);
  font-size: 1.25rem;
  padding-inline: 1.25rem;
  position: relative;
  z-index: 10;
}

.cart__group {
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
}

.add-button, .subtract-button {
  color: var(--first-color);
}

.cart__item__name {
  text-decoration: none;
  color: var(--first-color);
}


@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
  .cart__group {
    grid-template-columns: 1fr;
    row-gap: 2.75rem;
  }
}
@media screen and (max-width: 768px) {
  .table tr th:nth-child(1),
  .table tr td:nth-child(1) {
    width: 140px;
  }

  .table tr th:nth-child(2),
  .table tr td:nth-child(2) {
    width: 330px;
  }

  .table tr th:nth-child(3),
  .table tr td:nth-child(3) {
    width: 80px;
  }

  .table tr th:nth-child(4),
  .table tr td:nth-child(4) {
    width: 160px;
  }

  .table tr th:nth-child(5),
  .table tr td:nth-child(5) {
    width: 160px;
  }

  .table tr th:nth-child(6),
  .table tr td:nth-child(6) {
    width: 100px;
  }
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 350px) {
}
